body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;    
}

.one-container {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    gap: 100px;
}

.one-container,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;

}

.header-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 15px;
    align-self: center;

}


.hero-container {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    padding-bottom: 100px;
}


.hero-left-subtext,
.header-links {
    font-size: 18px;
    color: #e5e7eb;
}


.hero-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.hero-left-main {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-left-subtext {
    padding-right: 50px;
    
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;

}

.two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15%;
    gap: 50px;
}

.two-top {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.two-array {
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;    
    align-items: center;
}

.array-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.array-placeholder {
    border: solid 5px #3882f6;
    border-radius: 15px;
    width: 100%;
    flex: 1;
}

.array-text {
    color: grey;
    text-align: center;
}


.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    margin-right: auto;
    padding: 10px 50px;
    border-radius: 15px;
    font-weight: bold;
}